certifi
chardet
decorator
emoji
idna
imageio
imageio-ffmpeg
instagrapi
moviepy
numpy
pendulum
pillow
proglog
pycryptodomex
pydantic
pygames
pysocks
pytest
python-dotenv
pyqt
pywin32
requests
setuptools
tqdm
typing-extensions
urllib3
wheel
